SUPABASE_URL=https://swrtflbnebojytyoowfg.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3cnRmbGJuZWJvanl0eW9vd2ZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwMTMyMDksImV4cCI6MjEwMzU4OTIwOX0.DMzR3gVEo9EUSjiLUhhAoq9pNeOd7p359HrrsXoWaQs
GEMINI_API_KEY=your-gemini-key